<section class="flex-container">
  <div class="flex-row flex-row1">
    <div class="flex-box talent talent-1">
      <a href="#" class="full-area"></a>
      <h4 class="talent-headline">links</h4>

    </div>
    <div class="flex-box talent talent-2">
      <a href="#" class="full-area"></a>
      <h4 class="talent-headline">works</h4>
      <h5 class="typed element">Hello There Friends! This is a Machine Typing.</h5>

    </div>
  </div>
  <div class="flex-row flex-row2">
    <div class="flex-box talent talent-3">
      <a href="#" class="full-area"></a>
      <h4 class="talent-headline">current</h4>
    </div>
    <div class="flex-box talent talent-4">
      <a href="#" class="full-area"></a>
      <h4 class="talent-headline">about</h4>
    </div>

  </div>
</section>
