<section class="flex-container">
  <div class="flex-row">
    <div class="flex-box talent talent-1">
      <h4 class="talent-headline"><a href="#">links</a></h4>

    </div>
    <div class="flex-box talent talent-2">
      <h4 class="talent-headline"><a href="#">works</a></h4>

    </div>
  </div>
  <div class="flex-row">
    <div class="flex-box talent talent-3">
      <h4 class="talent-headline"><a href="#">current</a></h4>

    </div>
    <div class="flex-box talent talent-4">
      <h4 class="talent-headline"><a href="#">about</a></h4>

    </div>
  </div>
</section>
