<section class="flex-container">
  <div class="flex-row flex-row1">
    <div class="flex-box talent talent-1">
      <a href="#" class="full-area"></a>
      <h4 class="talent-headline">links <span class="typed element">Here is some more typing</span></h4>
      <!-- <h4 class="typed element">Hello There Friends! This is a Machine Typing.</h4> -->

    </div>
    <div class="flex-box talent talent-2">
      <a href="#" class="full-area"></a>
      <h4 class="talent-headline">works<span class="typed element">Here is some more typing</span></h4>
      <!-- <h4 class="typed element">Hello There Friends! This is a Machine Typing.</h4> -->

    </div>
  </div>
  <div class="flex-row flex-row2">
    <div class="flex-box talent talent-3">
      <a href="#" class="full-area"></a>
      <h4 class="talent-headline">current<span class="typed element">Here is some more typing</span></h4>
      <!-- <h4 class="typed element">Hello There Friends! This is a Machine Typing.</h4> -->
    </div>
    <div class="flex-box talent talent-4">
      <a href="#" class="full-area"></a>
      <h4 class="talent-headline">about<span class="typed element">Here is some more typing</span></h4>
      <!-- <h4 class="typed element">Hello There Friends! This is a Machine Typing.</h4> -->
    </div>

  </div>
</section>
