
  <div class="jumbotron row text-center">
    <div class="col-md-8 col-md-offset-2 statement">
      <h1 class="jumbo-header">{{site.statement}}</h1>
      <p class="lead">{{site.description}}</p>
    </div>
    <div class="row">
      <div class="col-md-4 text-center">
        <p class="areas">about me</p>
        <div class="circle"></div>
      </div>
      <div class="col-md-4 text-center">
        <p class="areas">works</p>
        <div class="circle"></div>
      </div>
      <div class="col-md-4 text-center">
        <p class="areas">contact</p>
        <div class="circle"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 text-center">
        <div class="circle"></div>
      </div>
      <div class="col-md-4 text-center">
        <div class="circle"></div>
      </div>
      <div class="col-md-4 text-center">
        <div class="circle"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 text-center">
        <div class="circle"></div>
      </div>
      <div class="col-md-4 text-center">
        <div class="circle"></div>
      </div>
      <div class="col-md-4 text-center">
        <div class="circle"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 text-center">
        <div class="circle"></div>
      </div>
      <div class="col-md-4 text-center">
        <div class="circle"></div>
      </div>
      <div class="col-md-4 text-center">
        <div class="circle"></div>
      </div>
    </div>
  </div>
  </div>
