<div class="stories">
  <div id="owl-demo">
    {% if page.image.feature %}
      <div class="post-background-img" style="background-image: url({{page.image.feature}});"></div>
    {% endif %}
    {% if page.image.img2 %}
      <div class="post-background-img" style="background-image: url({{page.image.img2}});"></div>
    {% endif %}
    {% if page.image.img3 %}
      <div class="post-background-img" style="background-image: url({{page.image.img3}});"></div>
    {% endif %}
    {% if page.image.img4 %}
      <div class="post-background-img" style="background-image: url({{page.image.img4}});"></div>
    {% endif %}
  </div>
  <div class="col-md-8 col-md-offset-2 col-xs-11 col-xs-offset-1">
    <header class="post-header">
      <h2 class="post-title">{{ page.title }}</h2>
      <!-- <p class="post-meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p> -->
      {% if page.description %}
      <h4>{{ page.description }}</h4>
      {% endif %}
    </header>
    <article class="post-content">
      {{ content }}
    </article>
  </div>
</div>
