<div class="stories">
  <div class="col-md-8 col-md-offset-2 col-xs-10 col-xs-offset-2 pattern">
    <header class="post-header">
      <h2 class="post-title">{{ page.title }}</h2>
      {% if page.description %}
      <h4>{{ page.description }}</h4>
      {% endif %}
      <!-- {% for profile in site.profile %}
      <a href="{{ profile.url | prepend: site.baseurl }}" >
        <h4 class="project-title">{{profile.title}}</h4>
      </a>
      {% endfor %} -->
    </header>
    <div id="owl-demo" class="slideshow">
      {% if page.image.feature %}
      <img src="{{page.image.feature}}" class="img-responsive" alt="">
      {% endif %}
      {% if page.image.img2 %}
      <img src="{{page.image.img2}}" class="img-responsive" alt="">
      {% endif %}
      {% if page.image.img3 %}
      <img src="{{page.image.img3}}" class="img-responsive" alt="">
      {% endif %}
      {% if page.image.img4 %}
      <img src="{{page.image.img4}}" class="img-responsive" alt="">
      {% endif %}
    </div>
    <article class="post-content">
      {{ content }}
      {% if page.link %}
      <a href="http://www.{{page.link}}" class="btn post-link">{{page.link}}</a>
      {% endif %}
    </article>
  </div>
</div>


<!-- <div id="owl-demo" class="slideshow">
  {% if page.image.feature %}
  <div class="post-background-img" style="background-image: url({{page.image.feature}});"></div>
  {% endif %}
  {% if page.image.img2 %}
  <div class="post-background-img" style="background-image: url({{page.image.img2}});"></div>
  {% endif %}
  {% if page.image.img3 %}
  <div class="post-background-img" style="background-image: url({{page.image.img3}});"></div>
  {% endif %}
  {% if page.image.img4 %}
  <div class="post-background-img" style="background-image: url({{page.image.img4}});"></div>
  {% endif %}
</div> -->
