<div class="flex-box talent talent-3">
  <h4 class="talent-headline">{{site.talent3}}</h4>
  <div class="project-wrapper">
    {% for ad_work in site.ad_work limit:6 %}
    {% if exhibition.image.thumbnail %}
      <a class="project" href="{{ ad_work.url | prepend: site.baseurl }}" style="background-image: url({{ad_work.image.thumbnail}});">
    {% else %}
      <a class="project" href="{{ ad_work.url | prepend: site.baseurl }}" style="background-image: url({{ad_work.image.feature}});">
    {% endif%}
        <div class="project-meta">
          <div class="project-meta-text">
            <h4 class="project-title">{{ad_work.title}}</h4>
            <!-- <h5 class="project-abbr">{{ad_work.abbr}}</h5> -->
            <!-- <p class="project-facts">{{ad_work.facts}}</p> -->
          </div>
        </div>
      </a>
    {% endfor %}
  </div>
  <!-- <span class="guide guide-up glyphicon glyphicon-menu-up"></span>
  <span class="guide guide-right glyphicon glyphicon-menu-right"></span> -->
</div>
