<div class="flex-box talent talent-2">
  <h4 class="talent-headline">{{site.talent2}}</h4>
  <div class="project-wrapper">
    {% for exhibition in site.exhibitions limit:4 %}
    {% if exhibition.image.thumbnail %}
      <a class="project" href="{{ exhibition.url | prepend: site.baseurl }}" style="background-image: url({{exhibition.image.thumbnail}});">
    {% else %}
      <a class="project" href="{{ exhibition.url | prepend: site.baseurl }}" style="background-image: url({{exhibition.image.feature}});">
    {% endif %}
        <div class="project-meta">
          <div class="project-meta-text">
            <h4 class="project-title">{{exhibition.title}}</h4>
          </div>
        </div>
      </a>
    {% endfor %}
  </div>
</div>
