<div class="flex-box talent talent-1">
  <h4 class="talent-headline">{{site.talent1}}</h4>
  <div class="project-wrapper">
      <div class="project project-single">
        <h4>bla bla bla</h4>
        <p>Blog stumptown keytar hoodie chartreuse polaroid. Keytar semiotics vinyl disrupt, shoreditch blog four dollar toast asymmetrical tilde ugh hashtag health goth yr street art. Vice fap before they sold out, echo park art party viral mixtape gochujang small batch VHS you probably haven't heard of them yr portland meditation paleo. Art party sustainable bushwick selvage, gluten-free meggings slow-carb fanny pack.</p>
      </div>
  </div>
</div>
