@mixin flex-growth
  flex: 1.25

@mixin flex-transition
  transition: all 0.78s

.flex-container
  display: flex
  flex-direction: column
  height: 100vh

.flex-row
  display: flex
  flex: 1
  @include flex-transition
  &:hover
    @include flex-growth
    @include flex-transition

.flex-box
  flex: 1

.talent
  position: relative
  @include flex-transition
  &::after
    overflow: hidden
    content: ""
    background-size: cover
    background-repeat: no-repeat
    position: absolute
    top: 0
    left: 0
    right: 0
    bottom: 0
    opacity: 0.25
    z-index: -1
    @include flex-transition
  &:hover
    & >.talent-headline
      @include flex-transition
      font-size: 200%
    @include flex-growth
    @include flex-transition
    &::after
      @include flex-transition
      opacity: 1

.talent-1
  &::after
    background: url("https://dl.dropboxusercontent.com/u/947851/portfolio/forms.jpg")
    background-repeat: no-repeat
    background-size: cover
  & > .talent-headline
    bottom: 0
    right: 0

.talent-2
  &::after
    background: url("https://dl.dropboxusercontent.com/u/947851/portfolio/illustration.jpg")
    background-repeat: no-repeat
    background-size: cover
  & > .talent-headline
    bottom: 0
    left: 0

.talent-3
  &::after
    background: url("https://dl.dropboxusercontent.com/u/947851/portfolio/ursala.jpg")
    background-repeat: no-repeat
    background-size: cover
  & > .talent-headline
    top: 0
    right: 0

.talent-4
  &::after
    background: url("https://dl.dropboxusercontent.com/u/947851/portfolio/Portrait.jpg")
    background-repeat: no-repeat
    background-size: cover
  & > .talent-headline
    top: 0
    left: 0

.talent-headline
  @include flex-transition
  margin: 0
  padding: 1em
  position: absolute
  background-color: rgba($secondary-color,0.75)
  color: $offwhite
  a
    color: $offwhite
