@mixin flex-growth
  flex: 1.25

.flex-container
  display: flex
  flex-direction: column
  height: 100vh

.flex-row
  display: flex
  flex: 1
  transition: all 1.40s
  &:hover
    @include flex-growth
    transition: all 1.40s

.flex-box
  flex: 1

.talent
  position: relative
  transition: all 1.40s
  &::after
    overflow: hidden
    content: ""
    background-size: cover
    background-repeat: no-repeat
    position: absolute
    top: 0
    left: 0
    right: 0
    bottom: 0
    opacity: 0.25
    z-index: -1
    transition: all 1.40s
  &:hover
    & >.talent-headline
      transition: all 1.40s
      font-size: 200%
    @include flex-growth
    transition: all 1.40s
    &::after
      transition: all 1.40s
      opacity: 1

.talent-1
  &::after
    background: url("https://dl.dropboxusercontent.com/u/947851/portfolio/forms.jpg")
    background-repeat: no-repeat
    background-size: cover

.talent-2
  &::after
    background: url("https://dl.dropboxusercontent.com/u/947851/portfolio/illustration.jpg")
    background-repeat: no-repeat
    background-size: cover

.talent-3
  &::after
    background: url("https://dl.dropboxusercontent.com/u/947851/portfolio/ursala.jpg")
    background-repeat: no-repeat
    background-size: cover

.talent-4
  &::after
    background: url("https://dl.dropboxusercontent.com/u/947851/portfolio/Portrait.jpg")
    background-repeat: no-repeat
    background-size: cover

.talent-headline
  transition: all 1.40s
  margin: 0
  padding: 1em
  position: absolute
  bottom: 0
  left: 0
  background-color: rgba($secondary-color,0.75)
  color: $offwhite
  a
    color: $offwhite
