body
  color: $normal-text-color
  font-family: 'Quattrocento Sans', sans-serif

.home-wrapper
  height: 100vh
  background-image: url("https://dl.dropboxusercontent.com/u/947851/portfolio/forms.jpg")
  background-position: center bottom
  background-size: cover
  @media (max-width: $screen-md-min)
    display: block
