$header-width: 180px

header.site-header
  position: absolute
  padding: 2em
  top: 50%
  left: 0
  background: rgba($dark-primary-color,0.75)
  transform: translateY(-50%)
  @media (max-width: $screen-md-min)
    background: none
    transform: none
    position: relative
    width: 100%

.site-name
  color: $offwhite
  font-family: 'Audiowide', cursive
  margin: 5px 0 5px -8px
  text-align: center
  font-size: 55px
  letter-spacing: -2px
  text-shadow: 0px 5px 5px rgba(white,0.25)
  i
    text-shadow: 0px 9px 8px rgba(white,0.25)

.side-nav
  margin: 1em 0
  li.active
    a
      color: $cool-grey
  a
    color: $primary-color
    font-size: 120%
    &:hover
      color: white

.header-links
  color: $gray_dark
  margin: 0.5em
  text-align: center
  @media (max-width: $screen-md-min)
    display: none

.nav-stacked
  @media (max-width: $screen-md-min)
    margin: 0 auto
  li
    @media (max-width: $screen-md-min)
      display: inline-block
