.back-icon
  font-size: 150%
  background-color: rgba($dark-primary-color,0.75)
  color: $offwhite
  padding: 0.25em
  position: fixed
  left: 0
  top: 50%
  transform: translateY(-50%)

  &:hover
    background-color: rgba($secondary-color,0.75)
    color: $offwhite
    text-decoration: none
