.home-sections
  flex: 1
  overflow: hidden



.stories
  padding: 2em


h1.jumbo-header::first-letter
  color: $primary-color
  font-family: 'Audiowide', cursive

.jumbotron
  padding: 4em
  margin: 0
  background: $awesome-gradient
  color: $contrast-text-color
  @media (max-width: $screen-md-min)
  padding: 1em

.about
  padding: 2em
  background: $cool-grey
  color: $close-to-black
  min-height: 30vh

.projects
  padding: 2em
  background-color: $offwhite
  color: $close-to-black
