.home-sections
  flex: 1
  overflow: hidden

.stories
  padding: 2em

h1.jumbo-header::first-letter
  font-family: 'Audiowide', cursive

.jumbotron
  background: none
  position: relative
  padding: 1em
  margin: 0
  color: $contrast-text-color
  @media (max-width: $screen-md-min)
    padding: 1em

.statement
  margin-bottom: 4em

.about
  padding: 2em
  background: $dark-primary-color
  color: $offwhite
  min-height: 30vh

.projects
  padding: 2em
  background-color: $offwhite
  color: $close-to-black

.flex-container
  display: flex
  @media (max-width: $screen-md-min)
    flex-direction: column

.flex-box
  flex: 1
  position: relative
  min-height: 100vh
  transition: all 2s
  @media (max-width: $screen-md-min)
    min-height: 27vh
  &::after
    content: ""
    background: url("https://dl.dropboxusercontent.com/u/947851/portfolio/IMG_264523_Snapseed-2800px.jpg")
    background-size: cover
    background-repeat: no-repeat
    position: absolute
    top: 0
    left: 0
    right: 0
    bottom: 0
    opacity: 0.25
    z-index: -1
    transition: all 2s
  &:hover
    flex: 1.6
    transition: all 2s
    &::after
      transition: all 2s
      opacity: 1
