@import url(https://fonts.googleapis.com/css?family=Gruppo)
@import url(https://fonts.googleapis.com/css?family=Quattrocento+Sans:400,700)
@import url(https://fonts.googleapis.com/css?family=Audiowide)

$headline-font: 'Gruppo', cursive

$headlines: 'Gruppo', cursive

$standard-line-height: 1.65em

h1, h2, h3, h4, h5, h6
  font-family: $headlines

em
  background-color: $cool-grey
  font-style: normal
  padding: 2px 3px

blockquote
  @extend h3
  color: lighten($primary-color, 35%)
  border: none
