@import url(https://fonts.googleapis.com/css?family=Gruppo)
@import url(https://fonts.googleapis.com/css?family=Quattrocento+Sans:400,700)
@import url(https://fonts.googleapis.com/css?family=Quattrocento:700,400)
@import url(https://fonts.googleapis.com/css?family=Audiowide)

$headline-font: 'Audiowide', cursive

$standard-line-height: 1.65em

h1, h2, h3, h4, h5, h6
  font-family: 'Gruppo', cursive

em
  background-color: $cool-grey
  font-style: normal
  padding: 2px 3px

blockquote
  font-family: 'Quattrocento', serif
  font-size: 175%
  color: $secondary-color
  border: none
