<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    <div class="home-wrapper">
      {% include header.html %}
          <a href="{{ index.url | prepend: site.baseurl}}/" class="glyphicon glyphicon-th-large back-icon"></a>
      <div class="home-sections">
        <div class="stories">
          <div class="col-md-8 col-md-offset-2 col-xs-10 col-xs-offset-2 pattern">
            <header class="post-header">
              <h2 class="post-title">{{ page.title }}</h2>
              </header>
            <article class="post-content">
              <div class="row">
                {% for profile in site.profile reversed limit:4 %}
                  <div class="col-md-6">
                    <a id="{{profile.title}}"></a>
                    <h2 class="post-title">{{ profile.title }}</h2>
                    {{ profile.content }}
                    
                  </div>
                {% endfor %}

              </div>
            </article>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
