<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    <div class="home-wrapper">
      {% include header.html %}
          <a href="{{ index.url | prepend: site.baseurl}}/" class="glyphicon glyphicon-th-large back-icon"></a>
          <div class="col-md-8 col-md-offset-2 col-xs-10 col-xs-offset-2 pattern stories">
              <div class="row">
                <div class="col-md-6 clearfix">
                  {% for profile in site.profile reversed limit:2 offset:2 %}
                  <div class="post-container">
                      <div class="profile-background-container">
                        <header class="post-header">
                          <a id="{{profile.title}}"></a>
                          <h2 class="post-title">{{ profile.title }}</h2>
                        </header>
                        <div class="post-background-img" style="background-image: url({{profile.image.thumbnail}});">
                        </div>
                      </div>
                      {% if profile.description %}
                      <h4 class="post-description">{{ profile.description }}</h4>
                      {% endif %}
                      {{ profile.content }}
                        {% for skill in profile.skill %}
                        <div class="skill-lockup">
                          <h4 class="skill">{{ skill.title }}</h4>
                          <div class="skill-icons skill-{{skill.value}}">
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                          </div>
                        </div>
                        {% endfor %}
                    </div>
                  {% endfor %}
                </div>
                <div class="col-md-6 clearfix">
                  {% for profile in site.profile reversed limit:2 %}
                  <div class="post-container">

                      <div class="profile-background-container">
                        <header class="post-header">
                          <a id="{{profile.title}}"></a>
                          <h2 class="post-title">{{ profile.title }}</h2>
                        </header>
                        <div class="post-background-img" style="background-image: url({{profile.image.thumbnail}});">
                        </div>
                      </div>
                      {% if profile.description %}
                      <h4 class="post-description">{{ profile.description }}</h4>
                      {% endif %}
                      {{ profile.content }}
                  </div>
                  {% endfor %}
                </div>
              </div>
          </div>
    </div>
  </body>
</html>
