<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}
    <div class="jumbotron container text-center">
        <nav class="navbar navbar-right">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">In Pellentesque</a></li>
            <li><a href="#">Luctus</a></li>
            <li><a href="#">Ultricies</a></li>
            <li><a href="#">Quattrocento</a></li>
          </ul>
        </nav>
        <div class="col-md-8 col-md-offset-2">
    <h1>Ut In Nulla Enim. Phasellus Molestie Magna</h1>
    <p class="lead">Vivamus Luctus Urna Sed Urna Ultricies Ac Tempor Dui Sagittis. In Condimentum Facilisis Porta. Sed Nec Diam Eu In Condimentum Facilisis Porta. Sed Nec Diam Eu Diam Mattis Viverra. Nulla</p><a href="#" class="btn btn-primary btn-large">Click Me Fool!</a>
   </div>
    </div>

    <div class="page-content">
        {{ content }}
    </div>

    {% include footer.html %}

  </body>

</html>
