<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    <div class="home">
    {% include header.html %}
    <div class="splash-container">
      <div class="splash-text">
        <h3>Hey There {{ page.title }}</h3>
        <h5>{{ post.description }}</h5>
        {{ content }}
        <a href="#" class="btn btn-large" id="start-button">let's get this started</a>
      </div>
    </div>
    <section class="flex-container">
      <div class="flex-row flex-row1">
        {% include talent1.html %}
        {% include talent2.html %}
      </div>
      <div class="flex-row flex-row2">
        {% include talent3.html %}
        {% include talent4.html %}
      </div>
    </section>
  </div>
  </body>
</html>
