---
layout: post
---
<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    <div class="home-wrapper">
      {% include header.html %}
          <a href="{{ index.url | prepend: site.baseurl}}/" class="glyphicon glyphicon-th-large back-icon"></a>
            <div class="col-md-8 col-md-offset-2 col-xs-10 col-xs-offset-2 pattern stories">
              <div class="post-background-container">
                <header class="post-header">
                  <h2 class="post-title">{{ page.title }}</h2>
                </header>
                <div class="post-background-img" style="background-image: url({{page.image.thumbnail}});">
                </div>
              </div>
              <article class="post-content">
                {% if page.description %}
                <h4 class="post-description">{{ page.description }}</h4>
                {% endif %}
                <div id="owl-demo" class="slideshow">
                  {% if page.image.detail01 %}
                  <img src="{{page.image.detail01}}" class="img-responsive" alt="">
                  {% endif %}
                  {% if page.image.detail02 %}
                  <img src="{{page.image.detail02}}" class="img-responsive" alt="">
                  {% endif %}
                  {% if page.image.detail03 %}
                  <img src="{{page.image.detail03}}" class="img-responsive" alt="">
                  {% endif %}
                  {% if page.image.detail04 %}
                  <img src="{{page.image.detail04}}" class="img-responsive" alt="">
                  {% endif %}
                  {% if page.image.detail05 %}
                  <img src="{{page.image.detail05}}" class="img-responsive" alt="">
                  {% endif %}
                </div>
                {{ content }}
                {% if page.link %}
                <a href="http://www.{{page.link}}" class="btn post-link">{{page.link}}</a>
                {% endif %}
              </article>
            </div>
    </div>
  </body>
</html>
